<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Usuarios</h3>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="bg-info">
                        <td>ID</td>
                        <td>NOMBRES</td>
                        <td>APELLIDOS</td>
                        <td>FECHA REGISTRO</td>
                        <td>ESTATUS</td>
                        <td>ACCIONES</td>
                    </tr>
                </thead>
                <tbody *ngFor="let usuario of usuarios" >
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.edad}}</td>
                    <td>{{usuario.fecha_alta}}</td>
                    <td>{{usuario.estatus}}</td>
                    <td>
                        <button (click)="Editar(usuario)" class="btn btn-primary">Editar</button>
                        <button (click)="Eliminar(usuario)" class="btn btn-danger">Eliminar</button>
                    </td>
                </tbody>
            </table>
        </div>
        <div class="card-header">

        </div>
    </div>
</div>