<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Nuevo Usuario</h3>
        </div>
        <div class="card-body">
            
            <form action="">
                <div class="form-group">
                   <label for="" >Nombre</label> 
                   <input [(ngModel)]="usuario.nombre" name="nombre" type="text" class="form-control" />
                </div>

                <div class="form-group">
                   <label for="" >Edad</label> 
                   <input [(ngModel)]="usuario.edad" name="edad" type="text" class="form-control"  />
                </div>

                <div class="form-group">
                   <label for="" >Estatus</label> 
                   <select [(ngModel)]="usuario.estatus" name="estatus" type="text" class="form-control" >
                    <option value="ACTIVO">ACTIVO</option>
                    <option value="INACTIVO">INACTIVO</option>
                   </select>
                </div>

                <button (click)="Guardar()" class="btn btn-primary">Guardar</button>
                <button (click)="Cancelar()" class="btn btn-danger">Cancelar</button>
            </form>
    </div>
</div>