<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Editar usuario</h3>
        </div>
        <div class="card-body">
            
            <form action="">
                <div class="form-group">
                   <label for="" >Nombre</label> 
                   <input [(ngModel)]="usuario.nombre" name="nombre" type="text" class="form-control" />
                </div>

                <div class="form-group">
                   <label for="" >Edad</label> 
                   <input [(ngModel)]="usuario.edad" name="edad" type="text" class="form-control" />
                </div>

                <div class="form-group">
                   <label for="" >Estatus</label> 
                   <input [(ngModel)]="usuario.estatus" name="estatus" type="text" class="form-control" />
                </div>

                <button (click)="Actualizar(usuario)" class="btn btn-primary">Actualizar</button>
                <button (click)="Cancelar()" class="btn btn-danger">Cancelar</button>
            </form>
    </div>
</div>